
.RadMenu_SP2007TopLevelNavigation
{
	background:#ffffff !important;
	font-weight: bold !important;
	font-size: 15px !important;
	padding: 6px 0px 0px 0px !important;
	font-family: Calibri, Helvetica, sans-serif;
	}

.RadMenu_SP2007TopLevelNavigation_Context
{
	background:none;
	padding:0;
}

.RadMenu_SP2007TopLevelNavigation .link
{
	color:#003057 !important;
	text-decoration:none;
	padding: 2px 8px;
}

.RadMenu_SP2007TopLevelNavigation .topLevelMenuItem
{
	border:1px none #ffffff !important;
	background: #ffffff !important;
	margin-left: 0px;
}

#ctl00_PlaceHolderTopNavBar_PlaceHolderHorizontalNav_g_48fe8427_7eff_4218_bddf_395c1338d461_g_48fe8427_7eff_4218_bddf_395c1338d461CascadingMenu_m0:hover,
#ctl00_PlaceHolderTopNavBar_PlaceHolderHorizontalNav_g_48fe8427_7eff_4218_bddf_395c1338d461_g_48fe8427_7eff_4218_bddf_395c1338d461CascadingMenu_m1:hover,
#ctl00_PlaceHolderTopNavBar_PlaceHolderHorizontalNav_g_48fe8427_7eff_4218_bddf_395c1338d461_g_48fe8427_7eff_4218_bddf_395c1338d461CascadingMenu_m3:hover,
#ctl00_PlaceHolderTopNavBar_PlaceHolderHorizontalNav_g_48fe8427_7eff_4218_bddf_395c1338d461_g_48fe8427_7eff_4218_bddf_395c1338d461CascadingMenu_m4:hover
{
	background:#999999 !important;
}





.link .topLevelMenuItem:hover
{
	background: #999999 !important;
	border:1px none #ffd26e;
	color: black !important;	
}

.RadMenu_SP2007TopLevelNavigation .currentTopLevelMenuItem
{
	border:1px none #999999 !important;
	background: #f2f2f2!important;
	margin-left: 0px;
}

.RadMenu_SP2007TopLevelNavigation .rootGroup .vertical .separator 
{
	padding:0;
	margin:0px 0;
}

.RadMenu_SP2007TopLevelNavigation .rootGroup .vertical .separator span.text
{
	border-top:1px none #999999 !important;
	margin-left: 28px;
}

.RadMenu_SP2007TopLevelNavigation .rootGroup .focused,
.RadMenu_SP2007TopLevelNavigation .rootGroup .link:hover
{
	background: #FFFFFF !important;
	border:1px none #FFFFFF ;
	text-decoration:none;
	color: black !important;
	cursor:hand;
	cursor:pointer;
}

.RadMenu_SP2007TopLevelNavigation .link:hover
{
	background: #999999 !important;
	border:1px none #FFFFFF ;
	text-decoration:none;
	color: black !important;
	cursor:hand;
	cursor:pointer;
}

.RadMenu_SP2007TopLevelNavigation .rootGroup .disabled:hover,
.RadMenu_SP2007TopLevelNavigation .rootGroup .disabled
{
	background:none;
	border:0;
	padding:3px 8px;	
	color: #666;
}

.RadMenu_SP2007TopLevelNavigation .horizontal .expanded,
.RadMenu_SP2007TopLevelNavigation .horizontal .expanded:hover
{
	background: #999999 !important;
	border:1px none #ffd26e;
	color: black !important;	
}

.RadMenu_SP2007TopLevelNavigation .vertical .expanded,
.RadMenu_SP2007TopLevelNavigation .vertical .expanded:hover
{
	background:#fff000 left top repeat-x;
	border:1px none #999999;
	padding:2px 7px;
}

.RadMenu_SP2007TopLevelNavigation .group
{
	border:1px none;
	float:left;
	background: #cccccc !important;
}

.RadMenu_SP2007TopLevelNavigation .group .link
{
	padding:2px;
}

.RadMenu_SP2007TopLevelNavigation .group .item
{
	margin:0;
	padding:0px;
}

.RadMenu_SP2007TopLevelNavigation .group .link:hover,
.RadMenu_SP2007TopLevelNavigation .group .focused,
.RadMenu_SP2007TopLevelNavigation .group .expanded
{
	background-color:#cccccc;
	background-image:none;
	border:1px solid #cccccc !important;
	padding:0px;
	cursor:hand;
	cursor:pointer;
}

.RadMenu_SP2007TopLevelNavigation .group .disabled:hover,
.RadMenu_SP2007TopLevelNavigation .group .disabled
{
	background-color:transparent;
	background-image:none;
	border:0;
	padding:2px;
	color: #ccc;
}

.RadMenu_SP2007TopLevelNavigation .group .text
{
	padding-left:25px;
	text-align:left;
	padding-right:46px;
}

.RadMenu_SP2007TopLevelNavigation .expandLeft,
.RadMenu_SP2007TopLevelNavigation .expandRight
{
	background:transparent url(file:///C|/Users/cmilyard/AppData/Local/Microsoft/Windows/Temporary%20Internet%20Files/Content.IE5/PMTPPSQL/img/groupImage.gif) right center no-repeat;
	padding-right:10px;
}

.RadMenu_SP2007TopLevelNavigation_rtl .expandLeft,
.RadMenu_SP2007TopLevelNavigation_rtl .expandRight
{
	background:transparent url(file:///C|/Users/cmilyard/AppData/Local/Microsoft/Windows/Temporary%20Internet%20Files/Content.IE5/PMTPPSQL/img/groupImageRTL.gif) left center no-repeat;
}

.RadMenu_SP2007TopLevelNavigation .topArrow,
.RadMenu_SP2007TopLevelNavigation .topArrowDisabled,
.RadMenu_SP2007TopLevelNavigation .rightArrow,
.RadMenu_SP2007TopLevelNavigation .rightArrowDisabled,
.RadMenu_SP2007TopLevelNavigation .leftArrow,
.RadMenu_SP2007TopLevelNavigation .leftArrowDisabled,
.RadMenu_SP2007TopLevelNavigation .bottomArrow,
.RadMenu_SP2007TopLevelNavigation .bottomArrowDisabled
{
	height:16px;
}

.RadMenu_SP2007TopLevelNavigation .rightArrow,
.RadMenu_SP2007TopLevelNavigation .rightArrowDisabled
{
	background: #F6F6F6 url('file:///C|/Users/cmilyard/AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/PMTPPSQL/img/right.gif') center center no-repeat;
	width:25px;
	height:100%;
}

.RadMenu_SP2007TopLevelNavigation .leftArrow,
.RadMenu_SP2007TopLevelNavigation .lefttArrowDisabled
{
	background: #F6F6F6 url('file:///C|/Users/cmilyard/AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/PMTPPSQL/img/left.gif') center center no-repeat;
	width:25px;
	height:100%;
}

.RadMenu_SP2007TopLevelNavigation .topArrow,
.RadMenu_SP2007TopLevelNavigation .topArrowDisabled
{
	background: #f2f2f2 url('file:///C|/Users/cmilyard/AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/PMTPPSQL/img/top.gif') center center no-repeat;
	width: 100%;
}

.RadMenu_SP2007TopLevelNavigation .bottomArrow,
.RadMenu_SP2007TopLevelNavigation .bottomArrowDisabled
{
	background: #f2f2f2 url('file:///C|/Users/cmilyard/AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/PMTPPSQL/img/bottom.gif') center center no-repeat;
	width: 100%;
}

.radmenu a:hover {
	background-color: white;
	color: black;
}